/***************************************************/
/****************** custom CSS *********************/
/***************************************************/
:root {
  --dark: #141414;
  --contrast-dark: #df9937;
  --contrast: #f0af51;
  --contrast-light: #ecd9be;
  --ff-main: 'Raleway', sans-serif;
  --ff-accent:'Poppins', sans-serif;
}

body {
  max-width: 100%;
    overflow-x: hidden;
}

main {
  font-family: var(--ff-accent);
}


section {
  min-height: 100vh;
  height: auto;
}

/*
.hero {
  background:
    var(--dark)
    linear-gradient(0deg, rgba(20, 20, 20, 0) 2%, rgba(0, 0, 0, 1) 64%),
    url(../images/camp.webp)
    no-repeat
    center;
  background-size: cover;
  display: grid;
}
*/

/* Style the video: 100% width and height to cover the entire window */
#vid-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  color: var(--contrast);
  font-size: 4rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

h2 {
  color: var(--contrast-light);
  font-size: rem;
  font-weight: 400;
  padding-bottom: 4rem;
}

p {
  color: var(--contrast-light);
  font-size: 1.2rem;
  letter-spacing: 4px;
}

.CTA {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: left;
  gap: 2rem;
}

button {
  background-color: var(--contrast);
  max-width: 25rem;
  height: 7rem;
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 0.5rem;
  font-size: 1.2rem;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

a {
  text-decoration: none;
}

button img {
  display: inline;
  height: 1.7rem;
}

button:hover,
button:focus {
  background-color: var(--contrast-dark);
  -webkit-box-shadow: 10px 10px 51px 9px rgba(236, 217, 190, 1);
  -moz-box-shadow: 10px 10px 51px 9px rgba(236, 217, 190, 1);
  box-shadow: 10px 10px 51px 9px rgba(236, 217, 190, 1);
}

button:active {
  -webkit-transform: translate(0px, 4px);
  -moz-transform: translate(0px, 4px);
  -ms-transform: translate(0px, 4px);
  -o-transform: translate(0px, 4px);
  transform: translate(0px, 4px);
}

footer {
  background-color: var(--contrast);
  color: var(--dark);
  padding: 1rem 0;
}

footer p {
  color: var(--dark);
  text-align: center;
  letter-spacing: normal;
  font-family: 'Poppins', sans-serif;
}

footer img {
  display: inline;
  height: 1rem;
}

footer a {
  text-decoration: none;
  color: var(--dark);
}

footer a:focus,
a:hover,
a:active {
  color: white;
  text-shadow: 4px 4px 16px rgba(20, 20, 20, 1);
}

/* reverse the grid, do mobile first and media query for desktop */

@media screen and (min-width: 480px) {
  .hero {
    background:
      linear-gradient(270deg, rgba(20, 20, 20, 0) 2%, rgba(0, 0, 0, 1) 64%),
      url(../images/camp.webp);
    background-color: var(--dark);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 5rem;
  }
}