@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/***************************************************/
/****************** custom CSS *********************/
/***************************************************/
:root {
  --dark: #141414;
  --contrast-dark: #df9937;
  --contrast: #f0af51;
  --contrast-light: #ecd9be;
  --ff-main: 'Raleway', sans-serif;
  --ff-accent: 'Poppins', sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-extrabold: 800;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

body {
  background-color: var(--dark);
}

main {
  font-family: var(--ff-accent);
  overflow-x: hidden;
}

section {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
}

h1,
h2 {
  margin-bottom: 4rem;
}

strong {
  font-weight: var(--fw-extrabold);
}

/************************ buttons and animations **************/
button:active {
  -webkit-transform: translate(0px, 4px);
  -moz-transform: translate(0px, 4px);
  -ms-transform: translate(0px, 4px);
  -o-transform: translate(0px, 4px);
  transform: translate(0px, 4px);
}
/*
.hero {
  background:
    var(--dark)
    linear-gradient(0deg, rgba(20, 20, 20, 0) 2%, rgba(0, 0, 0, 1) 64%),
    url(../images/camp.webp)
    no-repeat
    center;
  background-size: cover;
  display: grid;
}
*/


/************************ hero section **************************/

/* Style the video: 100% width and height to cover the entire window */
video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1;
}

/* style the text in the hero section */
article {
  position: absolute;
  display: grid;
  z-index: 2;
}

h1 {
  color: var(--contrast);
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  font-size: 2.618rem;
  line-height: 140.5%;
  letter-spacing: 0.065em;
}

h2 {
  color: var(--contrast-light);
  font-family: var(--ff-main);
  font-size: 1rem;
  font-weight: var(--fw-normal);
  line-height: 1.625rem;
  letter-spacing: 0.085em;
}

header>p {
  font-family: var(--ff-main);
  color: var(--contrast-light);
  font-size: 1rem;
  font-weight: var(--fw-normal);
  letter-spacing: 0.19rem;
  line-height: 1.5rem;
  letter-spacing: 0.195em;
  margin-top: 5.5rem;
  margin-bottom: 1rem;
}

/* style the button */
#CTA {
  /*button text */
  font-family: var(--ff-accent);
  font-weight: var(--fw-extrabold);
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  /*button shape&color */
  border-radius: 999px;
  background-color: var(--contrast);
  min-width: 226px;
  width: auto;
  min-height: 52px;
  padding: 14px 22px;
  /*center the text */
  display: grid;
  place-items: center;
}

#CTA:hover,
#CTA:focus,
#CTA:active {
  background-color: var(--contrast-dark);
}

/********************** download section *************************/
.download-btns {
  position: absolute;
  top: 100vh;
  padding: 10rem 5rem;
  background:
    linear-gradient(0deg, rgba(20, 20, 20, 0) 2%, rgba(0, 0, 0, 1) 90%),
    url(../images/camp.webp)
    no-repeat
    center;
  background-size: cover;
}

.btns {
  display: grid;
  place-items: center;
  gap: 0.5rem;
}

.dwn-btn {
  max-width: 230px;
}

/********************** footer section *************************/

footer {
  background-color: var(--contrast);
  color: var(--dark);
  font-family: var(--ff-main);

 padding: 1rem;
position: absolute;
top: calc(200vh - 3rem);
}

footer p {
  color: var(--dark);
  text-align: center;
  letter-spacing: normal;
  font-family: 'Poppins', sans-serif;
}

footer img {
  display: inline;
  height: 1rem;
}

footer a {
  text-decoration: none;
  color: var(--dark);
}

footer a:focus,
a:hover,
a:active {
  color: white;
  
}

/* reverse the grid, do mobile first and media query for desktop 

@media screen and (min-width: 480px) {
  .hero {
    background:
      linear-gradient(270deg, rgba(20, 20, 20, 0) 2%, rgba(0, 0, 0, 1) 64%),
      url(../images/camp.webp);
    background-color: var(--dark);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 5rem;
  }
}
*/